.work {
    background: #f0f2f5;
    padding-top: 10px;
    text-align: left;
}
.card-item {
    margin-top: 10px; 
}
.card-title {
    font-weight: bold;
    
}
.card-title div {
    font-size: calc(10px + 0.6vmin);
    font-weight: 400; 
    margin-left: 3px;
}
.card-desc {
    margin-top: 5px;
    font-size: calc(10px + 0.8vmin);
}